<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.joshvocal.moodify">

    <!-- Require the user to have a device with a camera before installing. -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- Permissions that Moodify requires to use. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="me.joshvocal.moodify.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Main Activity -->
        <activity android:name=".activities.MainActivity" />

        <!-- Welcome Activity -->
        <activity
            android:name=".activities.WelcomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

            <!-- Set this to be the first activity that launches -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Sign In Activity -->
        <activity android:name=".activities.SignInActivity" />
        <activity android:name=".activities.PlayerActivity"></activity>
    </application>

</manifest>